# HOMEWORK 3

### QUESTION 1

#### Step1: Importing the sklearn class (machine learning algorithm) that you would like to use for modeling:

In [1]:
# Numpy is a library for performing advanced mathematical operations on Arrays
# import the pandas library:
# Pandas is a powerful library to read and process data tables
import numpy as np
# it means that we can use abbreviation "np" from now on to refer to numpy functions 
import pandas as pd

In [2]:
##Step1: Importing the sklearn class (machine learning algorithm) that you would like to use for modeling:
# The following lines will import LogisticRegression, KNeighborsClassifier "Class" and DecisionTreeClassifier Classes
# "LogisticRegression" and "DecisionTreeClassifier" are the names of a "sklearn classes" to perform Logistic Regression and Decision Tree based Classification
# KNeighborsClassifier is name of a "sklearn class" to perform "KNN Classification"

#### Step2: Set up the Feature Matrix and Label Vector:

In [3]:
# loading a CSV file from local device and store it in a pandas DataFrame:
# "read_csv" is a pandas function to read csv files from web or local device:

df = pd.DataFrame()
NDF = pd.DataFrame()

df = pd.read_csv('/Users/cherylmariajose/Desktop/cs4661/HW3/Credit.csv')

### Features:
- **Income:** Monthly Income in 1000 dollars
- **Limit:** Credit limit
- **Rating:** Credit rating
- **Cards:** No. of credit cards
- **Age:** Individual age
- **Education:** Years of education
- **Married:** Marital Status

### Target:
- **Balance:** Avg credit card debt for an individual

In [4]:
# displaying the DataFrame:
# you can also use print(df)
df

      Income  Limit  Rating  Cards  Age  Education  Married  Balance
0     14.891   3606     283      2   34         11        1      333
1    106.025   6645     483      3   82         15        1      903
2    104.593   7075     514      4   71         11        0      580
3    148.924   9504     681      3   36         11        0      964
4     55.882   4897     357      2   68         16        1      331
5     80.180   8047     569      4   77         10        0     1151
6     20.996   3388     259      2   37         12        0      203
7     71.408   7114     512      2   87          9        0      872
8     15.125   3300     266      5   66         13        0      279
9     71.061   6819     491      3   41         19        1     1350
10    63.095   8117     589      4   30         14        1     1407
11    15.045   1311     138      3   64         16        0        0
12    80.616   5308     394      1   57          7        1      204
13    43.682   6922     511      1   49          9        1     1081
14    19.144   3291     269      2   75         13        0      148
15    20.089   2525     200      3   57         15        1        0
16    53.598   3714     286      3   73         17        1        0
17    36.496   4378     339      3   69         15        1      368
18    49.570   6384     448      1   28          9        1      891
19    42.079   6626     479      2   44          9        0     1048
20    17.700   2860     235      4   63         16        0       89
21    37.348   6378     458      1   72         17        0      968
22    20.103   2631     213      3   61         10        1        0
23    64.027   5179     398      5   48          8        1      411
24    10.742   1757     156      3   57         15        0        0
25    14.090   4323     326      5   25         16        1      671
26    42.471   3625     289      6   44         12        0      654
27    32.793   4534     333      2   44         16        0      467
28   186.634  13414     949      2   41         14        1     1809
29    26.813   5611     411      4   55         16        0      915
..       ...    ...     ...    ...  ...        ...      ...      ...
370   35.610   6135     466      4   40         12        0      992
371   39.116   2150     173      4   75         15        0        0
372   19.782   3782     293      2   46         16        0      840
373   55.412   5354     383      2   37         16        1     1003
374   29.400   4840     368      3   76         18        1      588
375   20.974   5673     413      5   44         16        1     1000
376   87.625   7167     515      2   46         10        0      767
377   28.144   1567     142      3   51         10        1        0
378   19.349   4941     366      1   33         19        1      717
379   53.308   2860     214      1   84         10        1        0
380  115.123   7760     538      3   83         14        0      661
381  101.788   8029     574      2   84         11        1      849
382   24.824   5495     409      1   33          9        0     1352
383   14.292   3274     282      9   64          9        1      382
384   20.088   1870     180      3   76         16        0        0
385   26.400   5640     398      3   58         15        0      905
386   19.253   3683     287      4   57         10        0      371
387   16.529   1357     126      3   62          9        0        0
388   37.878   6827     482      2   80         13        0     1129
389   83.948   7100     503      2   44         18        0      806
390  135.118  10578     747      3   81         15        1     1393
391   73.327   6555     472      2   43         15        0      721
392   25.974   2308     196      2   24         10        0        0
393   17.316   1335     138      2   65         13        0        0
394   49.794   5758     410      4   40          8        0      734
395   12.096   4100     307      3   32         13        1      560
396   13.364   3838     296      5   65         17        0      480
397   57.872   4171     321      5   67         12        1      138
398   37.728   2525     192      1   44         13        1        0
399   18.701   5524     415      5   64          7        0      966

[400 rows x 8 columns]

In [5]:
# this line print the size of heart_s.data (heart feature matrix) 
#(303 samples and 10 features)
print(df.shape)

(400, 8)

In [6]:
# checking the dataset by printing every 10 lines:
df[0::10]

      Income  Limit  Rating  Cards  Age  Education  Married  Balance
0     14.891   3606     283      2   34         11        1      333
10    63.095   8117     589      4   30         14        1     1407
20    17.700   2860     235      4   63         16        0       89
30    34.142   5666     413      4   47          5        1      863
40    34.950   3327     253      3   54         14        0       50
50    36.362   5183     376      3   49         15        1      654
60    35.510   5198     364      2   35         20        0      631
70    24.889   3954     318      4   75         12        1      357
80    27.369   3449     288      3   40          9        1      162
90    20.191   5767     431      4   42         16        1     1023
100   21.153   3736     256      1   41         11        0      298
110   34.537   3271     250      3   57         17        1       47
120   27.241   1402     128      2   67         15        1        0
130   23.793   3821     281      4   56         12        1      868
140   39.831   6045     459      3   32         12        1     1425
150   63.931   5728     435      3   28         14        1      581
160   12.238   4865     381      5   67         11        0      836
170   34.772   2021     167      3   57          9        0        0
180   10.635   3584     294      5   69         16        1      423
190   55.187   5352     385      4   50         17        1      538
200   23.949   5343     383      2   40         18        1      829
210   24.543   3206     243      2   62         12        1       95
220   44.847   5765     437      3   53         13        0     1246
230   33.214   5137     387      3   59          9        0      661
240   29.705   3351     262      5   71         14        1      148
250   10.363   2430     191      2   47         18        1        0
260   67.937   5184     383      4   63         12        1      345
270   15.866   3085     217      1   39         13        0      136
280   53.401   5319     377      3   35         12        0      541
290   26.370   3235     268      5   78         11        1      159
300   21.786   4632     355      1   50         17        1      580
310   33.694   4891     369      1   52         16        0     1036
320   16.279   1160     126      3   78         13        1        5
330   20.405   4543     329      2   72         17        0     1054
340   27.794   3807     301      4   35          8        1      320
350   30.002   1561     155      4   70         13        1        0
360   53.566   5891     434      4   82         10        0      712
370   35.610   6135     466      4   40         12        0      992
380  115.123   7760     538      3   83         14        0      661
390  135.118  10578     747      3   81         15        1     1393

### Normalising the data

In [8]:
# Creating the Feature Matrix for iris dataset:

# create a python list of feature names that would like to pick from the dataset:
feature_cols = ['Income','Limit','Rating','Cards','Age','Education','Married']


for k in feature_cols:
    print(k)
    vmax = df[k].max()
    print(vmax)
    NDF[k] = df[k]/vmax

Income
186.634
Limit
13913
Rating
982
Cards
9
Age
98
Education
20
Married
1

### Preparing Feature Matrix X and Target Vector y:

In [9]:
# use the above list to select the features from the original DataFrame
X = NDF[feature_cols]

In [10]:
# print the first 5 rows
X.head()

     Income     Limit    Rating     Cards       Age  Education  Married
0  0.079787  0.259182  0.288187  0.222222  0.346939       0.55      1.0
1  0.568090  0.477611  0.491853  0.333333  0.836735       0.75      1.0
2  0.560418  0.508517  0.523422  0.444444  0.724490       0.55      0.0
3  0.797947  0.683102  0.693483  0.333333  0.367347       0.55      0.0
4  0.299420  0.351973  0.363544  0.222222  0.693878       0.80      1.0

In [11]:
# this line print the size of heart_s.data (heart feature matrix) 
#(303 samples and 7 features)
print(X.shape)

(400, 7)

In [12]:
# select a Series of labels (the last column) from the DataFrame
y = df['Balance']

In [13]:
# checking the label vector by printing every 10 values
y[::10]

0       333
10     1407
20       89
30      863
40       50
50      654
60      631
70      357
80      162
90     1023
100     298
110      47
120       0
130     868
140    1425
150     581
160     836
170       0
180     423
190     538
200     829
210      95
220    1246
230     661
240     148
250       0
260     345
270     136
280     541
290     159
300     580
310    1036
320       5
330    1054
340     320
350       0
360     712
370     992
380     661
390    1393
Name: Balance, dtype: int64

## Evaluating the accuracy of our classifier:

#### We split the data into training and testing sets. Then, assuming that we do NOT know the label of Testing Set, we train our model on Training Set and then test it on Testing Set. Then, we compare the "predicted labels" against the "actual labels" to check the accuracy.

In [28]:
# Randomly splitting the original dataset into training set and testing set
# The function"train_test_split" from "sklearn.cross_validation" library performs random splitting.
# "test_size=0.2" means that pick 20% of data samples for testing set, and the rest (80%) for training set.

from sklearn.cross_validation import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

In [15]:
# checking the size of target vector:
y.size

400

In [16]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(320, 7)
(320,)
(80, 7)
(80,)

  
###  LINEAR REGRESSION:

In [17]:
# The following line will import LinearRegression "Class"

from sklearn.linear_model import LinearRegression

### Instantiating and Training Stage:

In [18]:
# In the following line, "my_linreg" is instantiated as an "object" of LinearRegression "class". 

my_linreg = LinearRegression()

# fitting the model to the training data:
my_linreg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [33]:
# printing Theta0 using attribute "intercept_":
print(my_linreg.intercept_)

# printing [Theta1, Theta2, Theta3, Theta4, Theta5, Theta6, Theta7] using attribute "coef_":
print(my_linreg.coef_)

-451.390136282
[-1413.47222539  1357.75410875  2441.3004289    103.52548744  -102.02433542
    40.34044338   -48.45522561]

### Thus, our predictive model will be: 
$$y = (-451.39013628242) + (-1413.47222539)\times Income + 1357.75410875\times Limit + 2441.3004289 \times Rating + 103.52548744 \times Cards + (-102.024335)\times Age + 40.34044338 \times Education (-48.45522561)\times Married$$

### The most important feature is Rating 
### The most important feature is Education

### Testing and Prediction Stage:

In [34]:
# make predictions on the testing set
y_prediction = my_linreg.predict(X_test)

print(y_prediction)

[  187.83259081   696.19359653  1008.45870602   602.54553619  1005.89421809
   689.53276161   912.63981066   265.93761365   921.40430581  1097.28246448
   561.24806805   347.10203229   793.92182702   133.99552456   831.68509878
   154.29201659  1391.55139882  -127.61911507   946.8333401    719.02865483
   593.49954528    82.58696538    75.58160302   -69.92762404   480.22371194
  -153.93316298   290.58134942   588.66521868   908.95132202   887.83016569
  -215.31132242   421.56659575    31.96584993  -265.81389094   925.49231108
  1229.55288913   382.92814713   934.30680369  1763.56079475   845.73667161
   810.02069387   502.35960813   380.43477228   448.20831629   673.02981403
   492.00309225   589.86815721  1092.19775167   521.63311942   689.99089979
   799.4973836    265.38602315  1542.56678822  1188.82234981   303.81822799
   848.83393296  -152.65676468   634.77873681   266.10574461   828.42364016
   400.56060336   571.89835366   -15.19680339   982.77736906  -194.71974119
   751.71775232   486.69746454   333.10675258  1063.15591078   972.70541837
   -80.21890573   597.37341198   708.83693482   397.51259999   623.49553554
   997.69797824   614.01791858   655.87801862   519.98827377   407.09335709]

#   
# Evaluation for Regression:

- In regression, the target is continous valued. So, we need to find the error as the average difference between the "predicted target value" and the "actual value".
- The most popular metric to quantify this difference (error) is **Root Mean Square Error** or **RMSE**:

$$RMSE = \sqrt{\frac 1n\sum_{i=1}^n(y_i-\hat{y}_i)^2}$$
- Notice that **RMSE** is error. So, unlike the accuracy for classifiers, **a lower value for RMSE is better!**

In [35]:
from sklearn import metrics
import numpy as np

# Calculating "Mean Square Error" (MSE):
mse = metrics.mean_squared_error(y_test, y_prediction)

# Using numpy sqrt function to take the square root and calculate "Root Mean Square Error" (RMSE)
rmse = np.sqrt(mse)

print(rmse)

154.410746767

## Cross-Validation in sklearn

In [22]:
# importing the method:
from sklearn.cross_validation import cross_val_score

### Applying 10-fold Cross Validation for "logistic regression" classifier:

In [23]:
# Applying 10-fold cross validation with "linear regression":
 
mse_list = cross_val_score(my_linreg, X, y, cv=10, scoring='mean_squared_error')

print(mse_list)

[-23646.90415343 -32003.04401232 -35462.64435619 -37327.60719635
 -14341.32205939 -33628.37104224 -31631.99317834 -12491.00334951
 -20749.61212175 -23204.94743459]

#### As you see, we would like to check the "mean_squared_error" (mse) for linear regression
#### Notice that "cross_val_score" by default provides "negative" values for "mse" to clarify that mse is error. In order to calculate root mean square error (rmse), we have to make them positive, and then find the avergae of them!

In [24]:
# Notice that "cross_val_score" by default provides "negative" values for "mse" to clarify that mse is error.
# in order to calculate root mean square error (rmse), we have to make them positive!
mse_list_positive = -mse_list

# using numpy sqrt function to calculate rmse:
rmse_list = np.sqrt(mse_list_positive)
print(rmse_list)

[ 153.7754992   178.89394627  188.31527914  193.20353826  119.75525901
  183.38039983  177.85385343  111.76315739  144.04725656  152.331702  ]

In [25]:
# calculate the average RMSE as final result of cross validation:
print(rmse_list.mean())

160.331989107

## QUESTION 2

### Thus, our predictive model will be: 
$$y = 30 + 20\times GPA + 0.07\times Age + (-30) \times Position + 0.01\times GPA\times Age + 10\times GPA\times Position$$

### Part A

### i) For a fixed value of age and gpa, technical positions earn more than non-technical positions

#### False. Because : 
$$y= 30 + 20\times 2.5 + 0.07\times 27 + (-30) \times 1 + 0.01\times 2.5\times 27 + 10\times 2.5\times 1$$

$$y= 77.565$$
#### For Non-Technical
$$y= 30 + 20\times 2.5 + 0.07\times 27 + (-30) \times 0 + 0.01\times 2.5\times 27 + 10\times 2.5\times 0$$

$$y= 82.565$$

### ii) For a fixed value of age and gpa, non-technical positions earn more than non-technical positions

#### False. Because : 
#### For Technical
$$y= 30 + 20\times 3.5 + 0.07\times 27 + (-30) \times 1 + 0.01\times 3.5\times 27 + 10\times 3.5\times 1$$

$$y= 107.835$$

#### For Non-Technical
$$y= 30 + 20\times 3.5 + 0.07\times 27 + (-30) \times 0 + 0.01\times 3.5\times 27 + 10\times 3.5\times 0$$

$$y= 102.835$$

### iii) For a fixed value of age and gpa, technical positions earn more than non-technical positions when the gpa is high enough

#### True. Because : 
#### For Technical
$$y= 30 + 20\times 3.5 + 0.07\times 27 + (-30) \times 1 + 0.01\times 3.5\times 27 + 10\times 3.5\times 1$$

$$y= 107.835$$

#### For Non-Technical
$$y= 30 + 20\times 3.5 + 0.07\times 27 + (-30) \times 0 + 0.01\times 3.5\times 27 + 10\times 3.5\times 0$$

$$y= 102.835$$

### iv) For a fixed value of age and gpa, non-technical positions earn more than technical positions when the gpa is high enough

#### False. Because : 
#### For Technical
$$y= 30 + 20\times 3.5+ 0.07\times 27 + (-30) \times 1 + 0.01\times 3.5\times 27 + 10\times 3.5\times 1$$

$$y= 107.835$$

#### For Non-Technical
$$y= 30 + 20\times 4.0 + 0.07\times 27 + (-30) \times 0 + 0.01\times 4\times 27 + 10\times 4\times 0$$

$$y= 102.835$$

### Part B

#### For Technical
$$y= 30 + 20\times 4.0 + 0.07\times 27 + (-30) \times 1 + 0.01\times 4\times 27 + 10\times 4\times 1$$

$$y= 122.97$$
#### For Non-Technical
$$y= 30 + 20\times 4.0 + 0.07\times 27 + (-30) \times 0 + 0.01\times 4\times 27 + 10\times 4\times 0$$

$$y= 112.97$$